@model List< VentaDeMotos.Models.DATOSMOTOS>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Informacion</title>
</head>
<body  bgcolor="blak">
   


    
    <div style=text-align:center>
        <H1>MotorEnginner</H1>
        </header>
    </div>
    <div class="carousel-item">
        <img src="https://static.vecteezy.com/system/resources/previews/002/716/953/non_2x/vintage-biker-skull-with-wings-and-pistons-emblem-on-black-vector.jpg" width="1500" class="d-block w-70" alt="...">
        <div>


            <div style=text-align:center>
                <H1>MOTO YAMAHA</H1>
            </div>
        </div>
        <div style=text-align:center>
            <img src="https://www.formulamoto.es/wp-content/uploads/2018/11/1-kawasakininjah2r-1_g.jpg" width="400" class="d-block w-70" alt="...">
            <div style=text-align:center>
                <div class="card-body">
                    <h5 class="card-title">YAMAHA 123S</h5>
                    <p class="card-text">YAMAHA modelo 123s es un modelo de´portivo que puede ir de 0 a 100 revoluciones por minutos .</p>
                    <a href="#" class="card-link"></a><button type="button" class="btn btn-success">Comprar</button>
                    <a href="#" class="card-link">Mas información </a>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div style=text-align:center>
        <img src="https://www.yamahasports.com.co/uploads/color/mt09-negra-naranja.jpg" width="400" class="d-block w-70" alt="...">
        <div class="card-body">
            <h5 class="card-title">YAMAHA s231</h5>
            <p class="card-text">YAMAHA modelo s231 es un modelo de´deportivos con un mejor manejo de moto y carroseria .</p>
            <a href="#" class="card-link"></a><button type="button" class="btn btn-success">Comprar</button>
            <a href="#" class="card-link">Mas información </a>
        </div>


    </div>
    <div style=text-align:center>
        <img src="https://p4.wallpaperbetter.com/wallpaper/957/522/553/yamaha-motorbikes-yamaha-r6-1920x1200-motorcycles-yamaha-hd-art-wallpaper-preview.jpg" width="400" class="d-block w-70" alt="...">
        <div class="card-body">
            <h5 class="card-title">YAMAHA S748</h5>
            <p class="card-text">YAMAHA modelo S748 es un modelo deportivo con mejor acesilibida economica y preseneta un beun moto y un diseño hermoso.</p>
            <a href="#" class="card-link"></a><button type="button" class="btn btn-success">Comprar</button>
            <a href="#" class="card-link">Mas información </a>
        </div>


        <div style=text-align:center>
            <H1>MOTO KAWASAKI</H1>
        </div>
        <div style=text-align:center>
            <img src="https://motos-b60.kxcdn.com/sites/default/files/kawasaki-ninja-zx-10-rr-2017.jpg" width="400" class="d-block w-70" alt="...">
            <div class="card-body">
                <h5 class="card-title">KAWASAKI M323</h5>
                <p class="card-text">KAWASAKI Modelo M323 es un modelo muy bello con gran motor y seria de discos compactos  .</p>
                <a href="#" class="card-link"></a><button type="button" class="btn btn-success">Comprar</button>
                <a href="#" class="card-link">Mas información </a>
            </div>


            <div style=text-align:center></div>
            <img src="https://www.kawasaki.com.mx/wp-content/uploads/2021/02/Ninja400verdeazul_Galeria03_1000x1000-600x600.jpg" width="400" class="d-block w-70" alt="...">
            <div class="card-body">
                <h5 class="card-title">KAWASAKI</h5>
                <p class="card-text">kawasaki-ninja-zx-10-rr-2017 es modelo de los mas recientes trayendo una mejor trasmision y motor mas potente .</p>
                <a href="#" class="card-link"></a><button type="button" class="btn btn-success">Comprar</button>
                <a href="#" class="card-link">Mas información </a>
            </div>


            <div style=text-align:center></div>
            <img src="https://cf.shopee.tw/file/fa43e7a80c4d1f71b836536fc4c55a4e" width="400" class="d-block w-70" alt="...">
            <div class="card-body">
                <h5 class="card-title">KAWASAKI</h5>
                <p class="card-text">
                    KAWASAKI XL232 es modelo de ninaj con un increible color verde esmeralda aunque no es muy
                    nuevo es preferido por los clientes .
                </p>
                <a href="#" class="card-link"></a><button type="button" class="btn btn-success">Comprar</button>
                <a href="#" class="card-link">Mas información </a>
            </div>

            <div style=text-align:center>
                <H1>ACESSORIOS</H1>
            </div>
            <div style=text-align:center></div>
            <img src="https://zshopp.com/wp-content/uploads/2019/02/1-1-42-600x600.jpg" width="350" class="d-block w-70" alt="...">
            <div style=text-align:center>
                <div class="card-body">
                    <h5 class="card-title">CASCO xl64</h5>
                    <p class="card-text">Casco de carbono arodinamico y presenta una mejor resistencia con un detallado para ser mas comodo .</p>
                    <a href="#" class="card-link"></a><button type="button" class="btn btn-success">Comprar</button>
                    <a href="#" class="card-link">Mas información </a>
                </div>


                <div style=text-align:center></div>
                <img src="https://http2.mlstatic.com/D_NQ_NP_789767-MCO44582743764_012021-O.jpg" width="350" class="d-block w-70" alt="...">
                <div style=text-align:center>
                    <div class="card-body">
                        <h5 class="card-title">CASCO X392-TIPO MYLITAR</h5>
                        <p class="card-text">Es modelo de fibra de carbono con estili de color negro predominate y teniendo y  peso 15kg es un casco muy pesado pero con mayor resistencia .</p>
                        <a href="#" class="card-link"></a><button type="button" class="btn btn-success">Comprar</button>
                        <a href="#" class="card-link">Mas información </a>
                    </div>


                    <div style=text-align:center></div>
                    <img src="https://ssgear.mx/wp-content/uploads/inventory/885526-cta.jpg" width="350" class="d-block w-70" alt="...">
                    <div style=text-align:center>
                        <div class="card-body">
                            <h5 class="card-title">Casco XS62573</h5>
                            <p class="card-text">CASCO es el modelo XS62573 de color camuflajeado con mayor resistencia y una fibra de carbono altamente cuidada con diseño hermoso y perfecto para motociclista.</p>
                            <a href="#" class="card-link"></a><button type="button" class="btn btn-success">Comprar</button>
                            <a href="#" class="card-link">Mas información </a>
                        </div>

                        <div style=text-align:center>
                            <img src="https://www.moto1pro.com/sites/default/files/chaqueta_deportiva.jpg" width="500" class="d-block w-70" alt="...">
                            <div style=text-align:center>
                                <div class="card-body">
                                    <h5 class="card-title">Chamarra DAINESEs435-2723</h5>
                                    <p class="card-text">Chamarra DAINESE s435-2723 de color blanco y naraja impermeable con proteccion de ala lluvia y rayos solares .</p>
                                    <a href="#" class="card-link"></a><button type="button" class="btn btn-success">Comprar</button>
                                    <a href="#" class="card-link">Mas información </a>
                                </div>


                                <div style=text-align:center>
                                    <img src="https://m.media-amazon.com/images/I/81IGtcyA78L._AC_UX522_.jpg" width="350" class="d-block w-70" alt="...">
                                    <div style=text-align:center>
                                        <div class="card-body">
                                            <h5 class="card-title">Chamarra DAINESE s435-272</h5>
                                            <p class="card-text">Chamarra DAINESE s435-272 es modelo color blaco y verde musco es una de las mejores contra protecion de lluvia y rayos solares conmejor tela para conduccion .</p>
                                            <a href="#" class="card-link"></a><button type="button" class="btn btn-success">Comprar</button>
                                            <a href="#" class="card-link">Mas información </a>
                                        </div>


                                        <div style=text-align:center></div>
                                        <img src="https://www.moto1pro.com/sites/default/files/chaqueta_offroad.jpg" width="500" class="d-block w-70" alt="...">
                                        <div style=text-align:center>
                                            <div class="card-body">
                                                <h5 class="card-title">Chamarra DAINESE s435-2722</h5>
                                                <p class="card-text">Chamarra DAINESE s435-2723 Es un modleo de color entre que predomina mas el anaranjado,blanco y gris ,con una tela mas respirable  mayor flexiblidad  cuenta contra protecion de lluvia y rayos solares  .</p>
                                                <a href="#" class="card-link"></a><button type="button" class="btn btn-success">Comprar</button>
                                                <a href="#" class="card-link">Mas información </a>
                                            </div>


                                            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                                                <div class="container-fluid">
                                                    <a class="navbar-brand" href="#"></a>
                                                </div>
                                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                </div>
                                                @*<li class="nav-item">
            <a class="nav-link" href="ind.html"></a><button type="button" class="btn btn-success">INICIO</button>
        </li>*@
                                                </header>
                                                <form action="https://localhost:44384/Motos/Index" style=text-align:center>
                                                    <button type="submit" class="btn btn-danger">MOTOS DISPONIBLES</button>
                                                </form>
</div>
</body>
</html>
